@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

:root {
	--gray: #cee3e9;
	--green: #52ffa8;
	--dark-gray: #323a49;
	--black: #1f2632;

	--border-radius: 10px;

	--box-shadow: 0px 8px 45px rgba(14, 16, 20, 0.13);
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
	display: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	user-select: none;
}
